<!doctype html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ارسال ایمیل بازیابی با موفقیت انجام شد</title>
</head>
    <body>
        <div style="font-family: 'B Nazanin' ; text-align: center">

            <h1 style="font-family: 'B Titr'; color: #ec10ff">تقاضای بازیابی رمز فرستاده شد</h1>

            <p>دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشت باشد باید به زودی
                این
                دستورالعمل‌ها را دریافت کنید.</p>

            <p>اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و
                پوشهٔ
                اسپم خود را نیز چک کنید </p>

        </div>
    </body>
</html>